@mixin active{
  color: $red;
  img{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}

.animal-list-wrapper{
    -webkit-transform: translate3d(0, 0, 0);
    /* prevents flicker */
    -webkit-overflow-scrolling: touch;
  }
//Sizes 

